@font-face
	font-family 'Glyphicons'
	src url('../fonts/glyphicons-regular.eot')
	src url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg')
	font-weight normal
	font-style normal


.icon
	display inline-block
	padding-right 1em
.icon:before {
	font-family 'Glyphicons'
	font-style normal
}

.icon-admin:before
	content "\e003"
	padding-right 0.5em
.icon-settings:before
	content "\e138"
.icon-edit:before
	content "\e151"
.icon-open:before
	content "\e369"
.icon-opened:before
	content "\e368"
.icon-add:before
	content "\e191"
.icon-added:before
	content "\e199"
.icon-logout:before
	content: "\e064"
.icon-close:before
	content: "\e208"